.item-list-container {
  padding: 10px;
}

.item-list-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;

  div {
    font-size: 30px;
    color: white;
  }
}

.item-list-box {
  display: grid;
  grid-auto-rows: 250px;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 10px 10px;
}

.item-list{
  list-style-type: none;
}

.item-image{
  width: 250px;
  height: 250px;
}